#container div div{
    border: 1px red solid;
    height: 25px;
    width: 25px;
}

div div div:hover{
    background-color: black;
    transition: background-color .5s;
}

.contains{
    /* border: 1px black solid; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.hover{
    background-color: black;
    transition: background-color .2s;
}